body {
    color: rgb(204, 211, 209);
    width: 100%;
    margin: auto;
}

h4{
    margin-top: 20px;
}

.carousel-inner{
    justify-content: center;
    background-size: cover;
    display: block;
    max-width: 100%;
    max-height: 500px;
}