{% load static %}
<!doctype html>
<html>
<head>
<title>FountainInc.</title>
<meta name="description" name="Your one stop shop for entertainment" />
<meta name="keywords" content="cinema, hotel, lounge"/>
<meta charset="UTF-8" />
<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<link rel="shortcut icon" href="images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href= "{% static "/fountain/tuts.css" %}" />
</head>
<body>
    <div class="header">
        <h1>Fountain Inc</h1>
            <ul>
                <li><a href="#">Tutorials</a></li>
                    <li><a href="#">Video</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
    </div>
    <div class="wrap">
        <section id="banner"> <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" 
    integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <h1>Fountain Inc</h1>
                <hr>
            <p>A full, responsive business-oriented HTML5/CSS3 website designed by
                <span><a href="#">OPMAN</a></span></p>
                    <br />
                        <button><a href="#content">get started</a></button>
        </section>
    </div>
    <!--section 1-->
    <div id="section1">
        <a name="content"><div class="grid1"></a>
            <div class="imagefit">
                <img src="images/pic01.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <header class="align_center">
                <h2>LOREM IPSUM DOLOR</h2>
            </header>
            <p id="p1">maecenas feugiat ex purus, quis volutpat lacus placerat</p>
            <hr>
            <p class="p2">Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas 
                feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.
            </p> 
            <p class="p2" style="margin-top:10px; margin-bottom: 30px; padding-bottom: 40px;">Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at congue. 
                Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero 
                    massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est, efficitur
                convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien
            </p>
        </div>
    </div>
    <!--Section 2-->
    <div id="section2">
        <div class="grid2">
            <div class="align" style="border-left:none";>
                <h2>TEMPUS FEUGIAT</h2>
                <p class="ps2">Morbi interdum mollis sapien. Sed ac risus.
                        Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu
                    </p>
                    <button>Learn more</button>
            </div>
            <div class="align">
                <h2>ALIQUAM NULLA</h2>
                <p class="ps2">Ut convallis, sem sit amet interdum 
                        consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed
                    </p>
                    <button>Learn more</button>
            </div>
            <div class="align">
                <h2>SED MAGNA</h2>
                <p class="ps2">Suspendisse mauris. Fusce accumsan mollis eros.
                        Pellentesque a diam sit amet mi ullamcorper vehicula.
                    </p>
                    <button>Learn more</button>
            </div>
        </div>
    </div>

    <!--Section 3-->
    <div id="section3">
        <div class="grid3">
            <div class="imagefit2">
                <div class="image">
                    <img src="images/pic04.jpg">
                </div>
                    <h2>LOREM IPSUM DOLOR</h2>
                    <p>
                        maecenas feugiat ex purus, quis volutpat lacus placerat
                    </p>
                        <hr>
                    <p>
                        Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex.
                         Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.
                    </p>
            </div>
                
            <div class="imagefit2">
                <div class="image">
                    <img src="images/pic03.jpg">      
                </div>
                        <h2>VESTIBULUM SIT AMET</h2>
                    <p>
                        mattis sapien pretium tellus venenatis
                    </p>
                        <hr>
                    <p>
                        Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. 
                        Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare. 
                    </p>
            </div>
                
        </div>
    </div>

    <!--Section 4-->
    <div id="section4">
        <div class="contain">
            <div class="form">
                <h2>GET IN TOUCH</h2>
                    <hr>
                    <div class="contain1">
                        <div class="form1">
                            <p>Name</p>
                                <form style="margin-left:45px;">
                                    <input type="text" value="Name" name="Name">
                                </form>
                        </div>
                        <div class="form1">
                            <p style="margin-left:0;">Email</p>
                                <form>
                                <input type="text" value="Email" name="Email">
                            </form>
                        </div>
                    </div>
                    <div class="form2">
                            <p>Department</p>
                        <select>
                            <option value="Selct Category">--Select Deparment--</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Accounting">Accounting</option>
                            <option value="Logistics">Logistics</option>
                            <option value="Manufacturing">Manufacturing</option>
                        </select>
                            <p>Message</p>
                        <form>
                            <textarea>Message</textarea>
                        </form>
                    </div>
                    <div class="Message">
                        <button>send message</button>
                    </div>
            </div>

        </div>

    </div>
    <!--Footer-->
    <section id="footer">
        <div class="foot">
            <p>&copy; Fountain Designs, Opman 2018</p>
        </div>

    </section>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" 
    integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>-->
        
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
</body>
</html>